{% extends "base.html" %}
{% load static %}
{% block content%}
<body>
    <!-- header three area start -->
    <!-- bread croumba rea start -->
    <div class="breadcrumb-area-bg" style="background-image: url('{% static 'assets/images/service/21.jpg' %}'); background-size: cover;height:500px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bread-crumb-area-inner">
                        <div class="breadcrumb-top">
                           
                        </div>
                        <div class="bottom-title">
                            <h1 class="title">Signage Solutions</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bread croumba rea end -->
    <!-- header three area end -->

    

    <!-- service details area start -->
    <div class="service-details-area-start rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 pr--70 pr_md--10 pr_sm--10">
                    <!-- service left side bar area start -->
                    <div class="service-left-sidebar-wrapper">
                        <!-- service left sidebar single wized -->
                        <div class="service-left-sidebar-wized mb--50">
                            <div class="topa-rea">
                                <h4 class="title">All Services</h4>
                            </div>
                            <div class="body">
                                <!-- inglle short service -->
                                <a href="#" class="single-short-service">
                                    <span class="number">01.</span>
                                    <p class="name">Promotional Signage</p>
                                </a>
                                <!-- inglle short service end -->
                                <!-- inglle short service -->
                                <a href="#" class="single-short-service">
                                    <span class="number">02.</span>
                                    <p class="name">Outdoor Signs</p>
                                </a>
                                <!-- inglle short service end -->
                                <!-- inglle short service -->
                                <a href="#" class="single-short-service">
                                    <span class="number">03.</span>
                                    <p class="name">Internal Signs</p>
                                </a>
                                <!-- inglle short service end -->
                                <!-- inglle short service -->
                                <a href="#" class="single-short-service">
                                    <span class="number">04.</span>
                                    <p class="name">Direction & Wayfinding Signs</p>
                                </a>
                                <!-- inglle short service end -->
                                <!-- inglle short service -->
                                <a href="#" class="single-short-service">
                                    <span class="number">05.</span>
                                    <p class="name"> Window Graphics</p>
                                </a>
                                <!-- inglle short service end -->
                                <!-- inglle short service -->
                                <a href="#" class="single-short-service">
                                    <span class="number">06.</span>
                                    <p class="name">Vehicle Graphics</p>
                                </a>
                                <a href="#" class="single-short-service">
                                    <span class="number">06.</span>
                                    <p class="name">Banners & Flex</p>
                                </a>
                                <a href="#" class="single-short-service">
                                    <span class="number">06.</span>
                                    <p class="name">Custom Made Signs</p>
                                </a>
                                <!-- inglle short service end -->
                            </div>
                        </div>
                        <!-- service left sidebar single wized end -->
                        <!-- service left sidebar single wized -->
                        <div class="service-left-sidebar-wized">
                            <div class="topa-rea">
                                <span class="pre">Contact</span>
                                <h4 class="title">Let's start new project.</h4>
                            </div>
                            <div class="body">
                                <!-- form area start -->
                                <form action="#">
                                    <input type="text" placeholder="Your Name">
                                    <input type="number" placeholder="Your Number">
                                    <textarea placeholder="Message"></textarea>
                                    <button class="rts-btn btn-primary">Start Project</button>
                                </form>
                                <!-- form area end -->
                            </div>
                        </div>
                        <!-- service left sidebar single wized end -->
                    </div>
                    <!-- service left side bar area end -->
                </div>
                <div class="col-lg-8 mt_md--50 mt_sm--50">
                    <!-- service -details right-content start -->
                    <div class="service-details-content-right">
                        <div class="large-image">
                            <img src="{% static 'assets/images/service/10.jpg' %}" alt="service">
                        </div>
                        <h3 class="title-main-s">
                            Versatile Signage Solutions <br>for Every Environment.
                        </h3>
                        <p class="disc">
                            We offer a diverse range of signage solutions designed to elevate your brand’s visibility and enhance communication with your audience. Innovative promotional signage is crafted to capture attention and drive engagement, while outdoor signs are engineered for durability and impact in any setting. For indoor spaces, internal signs create a welcoming and professional atmosphere that reflects your brand’s identity.
                        </p>
                        <p class="disc">
                            Health & safety signs ensure compliance and foster a secure environment for both team members and visitors. Meticulously designed direction and wayfinding signs guide your audience effortlessly, enhancing overall experiences. Additionally, window and vehicle graphics serve as dynamic advertising tools that transform any surface into a powerful marketing statement.<br>
                            Complementing these offerings, banners and flex solutions deliver high-impact visuals adaptable to various promotional needs, and custom-made signs are tailored to meet the unique requirements of your business. With a steadfast commitment to quality and innovation, these comprehensive solutions are the trusted choice for all your signage needs.
                        </p>
                    </div>
                    <!-- service -details right-content end -->
                    <div class="row mt--40 mb--40">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <img style="width: 100%;" src="{% static 'assets/images/service/11.jpg' %}" alt="services">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <img style="width: 100%;" src="{% static 'assets/images/service/12.jpg' %}" alt="services">
                        </div>
                    </div>
                    <h3 class="title-main-s">
                        Versatile Signage Solutions for Every Environment
                    </h3>
                    <p class="disc">
                        We offer a diverse range of signage solutions designed to elevate your brand’s visibility, create memorable experiences, and enhance communication with your target audience. Whether you need to make a bold statement outdoors or craft an inviting atmosphere indoors, our comprehensive suite of options has been meticulously engineered to meet the demands of every setting.                    </p>
                    <div class="row align-items-center">
                        <div class="col-lg-4">
                            <div class="service-details-list-check-bullet">
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="slice-iameg-service-detials">
                                <img src="{% static 'assets/images/service/13.png' %}" alt="service">
                            </div>
                        </div>
                    </div>
                    <div class="row mt--30">
                        <div class="col-lg-12">
                            <p class="disc">
                                Our innovative promotional signage is crafted to capture attention and drive engagement, using vibrant designs and dynamic materials that resonate with your customers. For external applications, our outdoor signs are built for durability, ensuring your message remains impactful despite varying weather conditions and time. Inside, our internal signage not only enhances the aesthetic appeal of your space but also reinforces your brand identity, creating a cohesive and professional environment.
                            </p>
                        </div>
                    </div>
                    <div class="row mt--40">
                        <div class="col-lg-4">
                            <img src="{% static 'assets/images/service/14.jpg' %}" alt="service">
                        </div>
                        <div class="col-lg-8">
                            <p class="disc mb--10">
                                We take safety seriously—our health and safety signs are designed to meet regulatory standards while fostering a secure and reassuring environment for both employees and visitors. Additionally, our direction and wayfinding signs are thoughtfully developed to guide your audience effortlessly through any complex layout, ensuring a seamless experience from start to finish.</p>
                            <p class="disc">
                                Complementing these offerings, our window and vehicle graphics transform everyday surfaces into dynamic advertising tools that leave a lasting impression. Our banners and flex solutions provide high-impact visuals perfect for promotional events and large-scale displays, while our custom-made signs are tailored to meet the unique requirements of your business.<br>
                                With a steadfast commitment to quality, innovation, and customer satisfaction, our comprehensive signage solutions are the trusted choice for businesses seeking to make a lasting impact in every environment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service details area end -->

    <!-- search area start -->
    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>
    <!-- search area end -->


    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
    <!-- back to top end -->



    <!-- header style two -->
    <div id="side-bar" class="side-bar header-two">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="inner-main-wrapper-desk">
            <div class="thumbnail">
                <img src="{% static 'assets/images/logo/01.svg' %}" alt="Innovate">
            </div>
            <div class="inner-content">
                <p class="disc">
                    Innovate Architects is a full-service design firm providing architecture architecture.
                </p>
                <div class="contact-information--sidebar">
                    <h6 class="title">Contact Info</h6>
                    <div class="single-info">
                        <a href="#">+123 456 789 33</a>
                    </div>
                    <div class="single-info">
                        <a href="#">3 innovate Street, NY United <br> States of America</a>
                    </div>
                    <div class="single-info">
                        <a href="#">Innovate@gmail.com</a>
                    </div>
                    <h6 class="title mt--30">Office Address</h6>
                    <div class="single-info">
                        <a href="#">+Time Square, New York <br> USA, 3454</a>
                    </div>
                    <div class="rts-social-style-one">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer">
                    <h4 class="title">Got a project in mind?</h4>
                    <a href="contact.html" class="rts-btn btn-primary">Let's talk</a>
                </div>
            </div>
        </div>
        <!-- mobile menu area start -->
        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">
                    <li class="has-droupdown">
                        <a href="#" class="main">Home</a>
                        <ul class="submenu mm-collapse">
                            <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Multipages</a>
                                <ul class="submenu-third-lvl mm-collapse">
                                    <li><a href="index.html"></a>Home One</li>
                                    <li><a href="index-two.html"></a>Home Two</li>
                                    <li><a href="index-three.html"></a>Home Three</li>
                                    <li><a href="index-four.html"></a>Home Four</li>
                                    <li><a href="index-five.html"></a>Home Five</li>
                                    <li><a href="index-six.html"></a>Home Six</li>
                                    <li><a href="index-seven.html"></a>Home Seven</li>
                                </ul>
                            </li>
                            <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Onepages</a>
                                <ul class="submenu-third-lvl mm-collapse">
                                    <li><a href="onepage.html"></a>One Page One</li>
                                    <li><a href="onepage-two.html"></a>One Page Two</li>
                                    <li><a href="onepage-three.html"></a>One Page Three</li>
                                    <li><a href="onepage-four.html"></a>One Page Four</li>
                                    <li><a href="onepage-five.html"></a>One Page Five</li>
                                    <li><a href="onepage-six.html"></a>One Page Six</li>
                                    <li><a href="onepage-seven.html"></a>One Page Seven</li>
                                </ul>
                            </li>
                            <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Showcase Pages</a>
                                <ul class="submenu-third-lvl mm-collapse">
                                    <li><a href="portfolio-boxes.html"></a>Carousel Slider</li>
                                    <li><a href="varticle-portfolio.html"></a>Vertical Portfolio</li>
                                    <li><a href="varticle-slider.html"></a>Varticl Slider</li>
                                    <li><a href="varticle-slider-tab.html"></a>Vartical Tab Slider</li>
                                    <li><a href="showcase-fade.html"></a>Showcase Fade</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Services</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="service-1.html">Service One</a></li>
                            <li><a class="mobile-menu-link" href="service-2.html">Service Two</a></li>
                            <li><a class="mobile-menu-link" href="service-3.html">Service Three</a></li>
                            <li><a class="mobile-menu-link" href="service-4.html">Service Four</a></li>
                            <li><a class="mobile-menu-link" href="service-5.html">Service Five</a></li>
                            <li><a class="mobile-menu-link" href="service-details.html">Service Details</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Portfolio</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="portfolio-grid-1.html">Portfolio Grid</a></li>
                            <li><a class="mobile-menu-link" href="portfolio-grid-col-3.html">Portfolio Col-3</a></li>
                            <li><a class="mobile-menu-link" href="portfolio-grid-col-4.html">Portfolio Col-4</a></li>
                            <li><a class="mobile-menu-link" href="portfolio-varticle-grid.html">Portfolio Mesonary</a></li>
                            <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Project Details</a>
                                <ul class="submenu-third-lvl mm-collapse">
                                    <li><a href="project-details-1.html"></a>Project Details v.1</li>
                                    <li><a href="project-details-2.html"></a>Project Details v.2</li>
                                    <li><a href="project-details-3.html"></a>Project Details v.3</li>
                                    <li><a href="project-details-4.html"></a>Project Details v.4</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Blog</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="blog.html">Blog</a></li>
                            <li><a class="mobile-menu-link" href="blog-list.html">Blog List</a></li>
                            <li><a class="mobile-menu-link" href="blog-2.html">Blog v.2</a></li>
                            <li><a class="mobile-menu-link" href="blog-3.html">Blog v.3</a></li>
                            <li><a class="mobile-menu-link" href="blog-4.html">Blog v.4</a></li>
                            <li><a class="mobile-menu-link" href="blog-details.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Pages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="about.html">About</a></li>
                            <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Team</a>
                                <ul class="submenu-third-lvl mm-collapse">
                                    <li><a href="team-1.html"></a>Team One</li>
                                    <li><a href="team-2.html"></a>Team Two</li>
                                    <li><a href="team-details.html"></a>Team Details</li>
                                </ul>
                            </li>
                            <li><a class="mobile-menu-link" href="before-after.html">Before After</a></li>
                            <li><a class="mobile-menu-link" href="pricing-plane.html">Pricing Plan</a></li>
                            <li><a class="mobile-menu-link" href="faq.html">Faq's</a></li>
                            <li><a class="mobile-menu-link" href="terms-and-condition.html">Terms & Conditions</a></li>
                            <li><a class="mobile-menu-link" href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a class="mobile-menu-link" href="404.html">404 Page</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html" class="main">Contact Us</a>
                    </li>
                </ul>
            </nav>

            <div class="rts-social-style-one pl--20 mt--100">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->


    <div class="grid-line">
        <div class="grid-lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>





    <!-- start loader -->
    <!-- <div class="loader-wrapper">
    <div class="loader">
    </div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div> -->
    <!-- End loader -->


    <div id="anywhere-home">
    </div>



</body>
{% endblock %}