{% extends "base.html" %}
{% load static %}
{% block content%}

 
<!-- header three area start -->
    <!-- bread croumba rea start -->
    <div class="breadcrumb-area-bg bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bread-crumb-area-inner">
                        <div class="breadcrumb-top">
                            {% comment %} <a href="{% url 'index-page' %}">Home</a> /
                            <a class="active" href="#">Contact Us</a> {% endcomment %}
                        </div>
                        <div class="bottom-title">
                            <h1 class="title">Contact Us</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bread croumba rea end -->
    <!-- header three area end -->

    <div class="contact-info-area-start rts-section-gapTop">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="top">
                        <h2 class="title">Contact Us</h2>
                    </div>
                </div>
            </div>
            <div class="row mt--0 g-5">
                <div class="col-lg-4 col-md-6">
                    <div class="left-contact">
                        <p class="top mb--30">
                            Let's Connect & Elevate Your Brand
                        </p>
                        <p class="disc mb--20">
                        We create impactful marketing strategies and experiences that amplify your brand, build customer loyalty, and drive growth. Contact us today!
                        </p>
                        <a href="#">Hot Line: +23 656 665 455</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 pl--50 pl_md--15 pl_sm--15">
                    <div class="contact-info-mid">
                        <p class="top-contact mb--20">Contact Details</p>
                        <div class="single-information mt--30">
                            <span>Address:</span>
                            <p class="address" style="text-decoration: underline;">
                                Cross 1, Prince Mishal st., <br>
                                Ash Shamaliyah, Al-khobar,K.S.A
                            </p>
                        </div>
                        <div class="single-information">
                            <span>Phone:</span>
                            <a href="Tel:123-456-7890">
                                +23 5825-32535
                            </a>
                        </div>
                        <div class="single-information">
                            <span>Mail:</span>
                            <a href="mailto:webmaster@example.com">
                                futuresigns.sa@gmail.com
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <form action="#" class="contact-form-conatct-page">
                        <p class="top-contact mb--20">Contac Form</p>
                        <input type="text" placeholder="Your name" required>
                        <input type="text" placeholder="Phone Number">
                        <textarea placeholder="Your message"></textarea>
                        <button class="rts-btn btn-primary mt--30">Send Now</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="container mt--120">
            <div class="row">
                <div class="col-lg-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d8254.021045171208!2d-95.11818240981121!3d29.563301798292883!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sRestaurants!5e0!3m2!1sen!2sbd!4v1697535735266!5m2!1sen!2sbd" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>

    <!-- header three area start -->
     

    <!-- search area start -->
    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>
    <!-- search area end -->


    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
    <!-- back to top end -->



    <!-- header style two -->
    <div id="side-bar" class="side-bar header-two">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="inner-main-wrapper-desk">
            <div class="thumbnail">
                <img src="{% static 'assets/images/logo/01.svg' %}" alt="Innovate">
            </div>
            <div class="inner-content">
                <p class="disc">
                    Innovate Architects is a full-service design firm providing architecture architecture.
                </p>
                <div class="contact-information--sidebar">
                    <h6 class="title">Contact Info</h6>
                    <div class="single-info">
                        <a href="#">+123 456 789 33</a>
                    </div>
                    <div class="single-info">
                        <a href="#">3 innovate Street, NY United <br> States of America</a>
                    </div>
                    <div class="single-info">
                        <a href="#">futuresigns.sa@gmail.com</a>
                    </div>
                    <h6 class="title mt--30">Office Address</h6>
                    <div class="single-info">
                        <a href="#">+Time Square, New York <br> USA, 3454</a>
                    </div>
                    <div class="rts-social-style-one">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer">
                    <h4 class="title">Got a project in mind?</h4>
                    <a href="{% url 'contact-page' %}" class="rts-btn btn-primary">Let's talk</a>
                </div>
            </div>
        </div>
       
    </div>
    <!-- header style two End -->


    <div class="grid-line">
        <div class="grid-lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <div id="anywhere-home">
    </div>



</body>
{% endblock %}