{% extends "base.html" %}
{% load static %}
{% block content%}
<body style="background: #F3E8EA">
    <!-- banner one swiper fade area start -->
    <div class="banner-one-swiper-fade-swip">
        <!-- Swiper -->
        <div class="swiper mySwiper-banner-one-in-two">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <!-- rts-banner-area -->
                    <div class="rts-banner-area-start-one pb--100 ptb_sm--140">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="float-right-content">
                                        <!-- single-swiper-area start -->
                                        <div class="signle-swiper-start">
                                            <div class="thumbnail-banner-one">
                                                <img src="{% static 'assets/images/banner/01.jpg' %}" alt="banner">
                                            </div>
                                        </div>
                                        <!-- single-swiper-area end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-swiper-area-start">
                            <div class="right-shape">
                                <img src="{% static 'assets/images/banner/icon/03.png' %}" alt="">
                            </div>

                            <!-- single swiper area start -->
                            <div class="single-left-banner-swiper-start">
                                <span class="pre">Welcome Future Signs</span>
                                <h2 class="title">
                                    Future Signs: Elevating Brands with Excellence</h3>
                                    <p class="disc">
                                    A leading advertising company, we deliver high-quality branding solutions with expert teams, cutting-edge technology, and premium designs to drive business success.
                                    </p>
                                    <div class="animation-55"><a href="{% url 'about-page' %}" class="rts-btn btn-border">View Details</a></div>
                            </div>
                            <!-- single swiper area end -->
                        </div>
                    </div>
                    <!-- rts-banner-area end -->
                </div>
                <div class="swiper-slide">
                    <!-- rts-banner-area -->
                    <div class="rts-banner-area-start-one pb--100 ptb_sm--140">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="float-right-content">
                                        <!-- single-swiper-area start -->
                                        <div class="signle-swiper-start">
                                            <div class="thumbnail-banner-one">
                                                <img src="{% static 'assets/images/banner/22.jpg' %}" alt="banner">
                                            </div>
                                        </div>
                                        <!-- single-swiper-area end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-swiper-area-start">
                            <div class="right-shape">
                                <img src="assets/images/banner/icon/03.png" alt="">
                            </div>

                            <!-- single swiper area start -->
                            <div class="single-left-banner-swiper-start">
                                <span class="pre">Welcome Future Signs</span>
                                <h2 class="title">
                                Complete Signage & Branding Solutions
                                </h2>
                                <p class="disc">
                                    We provide signage and branding solutions, including promotional signs, custom designs, engraving, vehicle graphics, and more to meet your marketing needs.
                                </p>
                                <div class="animation-55"><a href="{% url 'service-page' %}" class="rts-btn btn-border">View Details</a></div>
                            </div>
                            <!-- single swiper area end -->
                        </div>
                    </div>
                    <!-- rts-banner-area end -->
                </div>
                <div class="swiper-slide">
                    <!-- rts-banner-area -->
                    <div class="rts-banner-area-start-one pb--100 ptb_sm--140">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="float-right-content">
                                        <!-- single-swiper-area start -->
                                        <div class="signle-swiper-start">
                                            <div class="thumbnail-banner-one">
                                                <img src="{% static 'assets/images/banner/23.jpg'%}" alt="banner">
                                            </div>
                                        </div>
                                        <!-- single-swiper-area end -->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="left-swiper-area-start">
                            <div class="right-shape">
                                <img src="assets/images/banner/icon/03.png" alt="">
                            </div>

                            <!-- single swiper area start -->
                            <div class="single-left-banner-swiper-start">
                                <span class="pre">Welcome Future Signs</span>
                                <h2 class="title">
                                Empowering Your Brand Identity
                                </h2>
                                <p class="disc">
                                We provide tailored branding solutions that combine creativity and strategy to enhance your brand's identity with world-class service and innovation.
                                </p>
                                <div class="animation-55"><a href="{% url 'portfolio-page' %}" class="rts-btn btn-border">View Details</a></div>
                            </div>
                            <!-- single swiper area end -->
                        </div>
                    </div>
                    <!-- rts-banner-area end -->
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- banner one swiper fade area end -->

    <!-- rts-banner-area -->

    <!-- rts-banner-area end -->

    <!-- rts about area start -->
    <div class="rts-about-area-one rts-section-gap" >
        <div class="container pb--50 pb_sm--0">
            <div class="row">
                <div class="col-lg-5">
                    <div class="thumbnail-about-one rts-reveal-one">
                        <img class="rts-reveal-image-one" src="{% static 'assets/images/about/01.jpg' %}" alt="about">
                    </div>
                </div>
                <div class="col-lg-6 mt_md--50 mt_sm--50">
                    <div class="about-style-one-right">
                        <div class="title-style-left">
                            <div class="pre-title-area">
                                <img src="{% static 'assets/images/about/02.png'%}" alt="about">
                                <span class="pre-title">About Us</span>
                            </div>
                            <h2 class="title mt--0 mb--25 quote">Future Signs: Where Creativity Meets Strategy. 
                            </h2>
                        </div>
                        <p class="disc mb--15">
                            At Future Signs, we specialize in crafting innovative and high-quality branding solutions to help businesses stand out. With a commitment to creativity, precision, and excellence, we provide tailored advertising and marketing strategies that drive results. 
                            Based in Al-Khobar, Saudi Arabia, we serve clients across the K.S.A., delivering world-class designs, premium materials, and cutting-edge technology to elevate your brand identity.
                        </p>
                        <p class="disc">
                        </p>
                        <a href="{% url 'about-page' %}" class="rts-btn btn-border">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts about area end -->

    <!-- rts-service-area start -->
    <div class="rts-service-area rts-section-gap bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="service-style-left-area">
                        <div class="title-style-left">
                            <div class="pre-title-area">
                                <img src="{% static 'assets/images/about/02.png' %}" alt="about">
                                <span class="pre-title">Services</span>
                            </div>
                            <h3 class="title quote">Stand Out. Get Noticed.</h3>
                        </div>
                        <p class="disc mb--10">
                            Future Signs delivers high-quality signage and branding solutions in Saudi Arabia. We offer promotional signage, print products, custom signs, branding & design, engraving, laser cutting, vehicle graphics, banners, safety signs, installation, maintenance, exhibition support, and custom vinyl printing.  We help businesses stand out and grow.
                        </P>
                        <div class="accordion-service-1 mb--40" id="accordionExample">
                        </div>
                        <a href="service-details.html" class="rts-btn btn-border">View Details</a>
                    </div>
                </div>
                <div class="col-lg-8 pl--60 rts-slide-up pl_sm--0 pl_md--0 mt_sm--50 mt_md--50">
                    <div class="row g-5">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-service-area-one">
                                <div class="icon">
                                    <img width="64" height="64" src="https://img.icons8.com/external-kiranshastry-lineal-kiranshastry/64/external-poster-advertising-kiranshastry-lineal-kiranshastry-1.png" alt="external-poster-advertising-kiranshastry-lineal-kiranshastry-1"/>
                                </div>
                                <h6 class="title">Signage Solutions</h6>
                                <p class="disc">
                                    Enhancing visibility and brand presence with impactful signage for all applications.
                                </p>
                                <a href="{% url 'signage-page' %}" class="read-more-btn">Read More<i class="fa-light fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-service-area-one two">
                                <div class="icon">
                                    <img width="64" height="64" src="https://img.icons8.com/laces/64/print.png" alt="print"/>
                                </div>
                                <h6 class="title">Print & Design</h6>
                                <p class="disc">
                                    Creating professional marketing materials and branding assets that communicate your message effectively.                                </p>
                                <a href="#" class="read-more-btn">Read More<i class="fa-light fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-service-area-one three">
                                <div class="icon">
                                    <img width="50" height="50" src="https://img.icons8.com/external-others-pike-picture/50/external-Equipment-Parts-quarry-others-pike-picture.png" alt="external-Equipment-Parts-quarry-others-pike-picture"/>
                                </div>
                                <h6 class="title">Fabrication & Engraving</h6>
                                <p class="disc">
                                    Precision crafting and engraving using advanced techniques for unique and durable products.
                                </p>
                                <a href="#" class="read-more-btn">Read More<i class="fa-light fa-chevron-right"></i></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                            <div class="single-service-area-one four">
                                <div class="icon">
                                    <img width="50" height="50" src="https://img.icons8.com/ios/50/administrative-tools.png" alt="administrative-tools"/>
                                </div>
                                <h6 class="title">Support & Event Services</h6>
                                <p class="disc">
                                    Comprehensive services to support your signage and promotional needs from installation to event branding.                                </p>
                                <a href="#" class="read-more-btn">Read More<i class="fa-light fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts-service-area end -->

    <!-- our woring process area start -->
    <div class="our-working-process rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pre-title-area" style="margin-top:20px;">
                        <img src="{% static 'assets/images/about/02.png'%}" alt="about">
                        <span class="pre-title">Our Clients</span>
                    </div>
                    <div class="title-process-stock-text">
                        <div id="clients-section" class="clients-bg" data-stellar-background-ratio="0">
                            <div class="container">
                              <div class="row">
                                 
                                 <!-- client -->
                                <div class="col-xs-4 col-sm-2">
                                  <div class="client">
                                    <a href="#"><img src="{% static 'assets/images/clients/client_1.png' %}" alt=""></a>
                                  </div>
                                </div> <!-- end col-xs-6 -->
                    
                                 <!-- client -->
                                <div class="col-xs-4 col-sm-2">
                                  <div class="client">
                                    <a href="#"><img src="{% static 'assets/images/clients/client_2.png' %}" alt=""></a>
                                  </div>
                                </div> <!-- end col-xs-6 -->
                    
                                 <!-- client -->
                                <div class="col-xs-4 col-sm-2">
                                  <div class="client">
                                    <a href="#"><img src="{% static 'assets/images/clients/client_3.png' %}" alt=""></a>
                                  </div>
                                </div> <!-- end col-xs-6 -->
                    
                                 <!-- client -->
                                <div class="col-xs-4 col-sm-2">
                                  <div class="client">
                                    <a href="#"><img src="{% static 'assets/images/clients/client_4.png' %}" alt=""></a>
                                  </div>
                                </div> <!-- end col-xs-6 -->
                    
                                 <!-- client -->
                                <div class="col-xs-4 col-sm-2">
                                  <div class="client">
                                    <a href="#"><img src="{% static 'assets/images/clients/client_1.png' %}" alt=""></a>
                                  </div>
                                </div> <!-- end col-xs-6 -->
                    
                                 <!-- client -->
                                <div class="col-xs-4 col-sm-2">
                                  <div class="client">
                                    <a href="#"><img src="{% static 'assets/images/clients/client_2.png' %}" alt=""></a>
                                  </div>
                                </div> <!-- end col-xs-6 -->
                    
                              </div> <!-- End row -->
                            </div> <!-- End container -->
                          </div> 
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- our woring process area end -->

    <!-- rts project area start -->
    <div class="rts-project-area rts-section-gap bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-area-product-one">
                        <div class="title-style-left">
                            <div class="pre-title-area">
                                {% comment %} <img src="{% static 'assets/images/about/02.png' %}" alt="about">
                                <span class="pre-title">Our Project</span> {% endcomment %}
                            </div>
                            <h2 class="title quote">Tailored Solutions for <br>
                                Your Business Needs</h2>
                        </div>
                        <p class="disc">
                            Future Signs delivers professionally tailored solutions and market-specific alternatives to fit your business needs. We are committed to providing affordable, creative offerings that help you stand out and achieve your marketing, sales, and communication goals.
                        </p>
                        <div class="swiper-next-prev-wrapper">
                            <div class="swiper-button-next"></div>
                            <div class="swiper-button-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full mt--50">
            <div class="row">
                <div class="col-lg-12">
                    <!-- swiper product one wrapper -->
                    <div class="swiper-product-one-wrapper">
                        <div class="swiper swiper-product-one">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!-- single swiper-item -->
                                    <div class="single-product-one">
                                        <span class="number">01</span>
                                        <a href="product-details-1.html" class="thumbnail">
                                            <img src="{% static 'assets/images/product/01.jpg' %}" alt="product">
                                        </a>
                                        <div class="inenr-content-absolute">
                                            <a href="product-details-1.html">
                                                <h3 class="title">Quisque volutpat condimentum velit </h3>
                                            </a>
                                            <span class="category">egestas porttitor</span>
                                        </div>
                                    </div>
                                    <!-- single swiper-item end -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single swiper-item -->
                                    <div class="single-product-one">
                                        <span class="number">02</span>
                                        <a href="product-details-1.html" class="thumbnail">
                                            <img src="{% static 'assets/images/product/02.jpg' %}" alt="product">
                                        </a>
                                        <div class="inenr-content-absolute">
                                            <a href="product-details-1.html">
                                                <h3 class="title">Curabitur sodales ligula</h3>
                                            </a>
                                            <span class="category">in libero Sed dignissim</span>
                                        </div>
                                    </div>
                                    <!-- single swiper-item end -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single swiper-item -->
                                    <div class="single-product-one">
                                        <span class="number">03</span>
                                        <a href="product-details-1.html" class="thumbnail">
                                            <img src="{% static 'assets/images/product/03.jpg' %}" alt="product">
                                        </a>
                                        <div class="inenr-content-absolute">
                                            <a href="product-details-1.html">
                                                <h3 class="title">lacinia nunc Curabitur</h3>
                                            </a>
                                            <span class="category">Pellentesque nibh</span>
                                        </div>
                                    </div>
                                    <!-- single swiper-item end -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single swiper-item -->
                                    <div class="single-product-one">
                                        <span class="number">04</span>
                                        <a href="product-details-1.html" class="thumbnail">
                                            <img src="{% static 'assets/images/product/04.jpg' %}" alt="product">
                                        </a>
                                        <div class="inenr-content-absolute">
                                            <a href="product-details-1.html">
                                                <h3 class="title">Aenean quam</h3>
                                            </a>
                                            <span class="category"> In scelerisque sem at dolor</span>
                                        </div>
                                    </div>
                                    <!-- single swiper-item end -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single swiper-item -->
                                    <div class="single-product-one">
                                        <span class="number">05</span>
                                        <a href="product-details-1.html" class="thumbnail">
                                            <img src="{% static 'assets/images/product/03.jpg' %}" alt="product">
                                        </a>
                                        <div class="inenr-content-absolute">
                                            <a href="product-details-1.html">
                                                <h3 class="title">Maecenas mattis</h3>
                                            </a>
                                            <span class="category"> Sed convallis tristique sem</span>
                                        </div>
                                    </div>
                                    <!-- single swiper-item end -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- swiper product one wrapper end -->
                </div>
            </div>
        </div>
    </div>
    <!-- rts project area end -->

    <!-- rts counter up section start -->
    <div class="rts-counter-area pt--50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-right-content">
                        <div class="counter-area-main-wrapper-rts">
                            <div class="title-style-left">
                                <div class="pre-title-area">
                                    <img src="{% static 'assets/images/about/02.png' %}" alt="about">
                                    <span class="pre-title">Our Achievement</span>
                                </div>
                                <h2 class="title">Quisque volutpat condimentum velit<br>Class aptent taciti sociosqu<br>litora torquent per conub</h2>
                            </div>
                            <div class="counter-inner-rts">
                                <div class="counter-wrapper-one">
                                    <!-- single-counter-wrapper -->
                                    <div class="single-counter">
                                        <div class="inner">
                                            <h2 class="title"><span class="counter animated fadeInDownBig">37</span>k</h2>
                                            <p>Project Done</p>
                                        </div>
                                    </div>
                                    <!-- single-counter-wrapper end -->
                                    <!-- single-counter-wrapper -->
                                    <div class="single-counter">
                                        <div class="inner">
                                            <h2 class="title"><span class="counter animated fadeInDownBig">200</span>+</h2>
                                            <p>Happy Clients</p>
                                        </div>
                                    </div>
                                    <!-- single-counter-wrapper end -->
                                    <!-- single-counter-wrapper -->
                                    <div class="single-counter">
                                        <div class="inner">
                                            <h2 class="title"><span class="counter animated fadeInDownBig">25</span>+</h2>
                                            <p>Award Winning</p>
                                        </div>
                                    </div>
                                    <!-- single-counter-wrapper end -->
                                    <!-- single-counter-wrapper -->
                                    <div class="single-counter">
                                        <div class="inner">
                                            <h2 class="title"><span class="counter animated fadeInDownBig">16</span>+</h2>
                                            <p>Year Experience</p>
                                        </div>
                                    </div>
                                    <!-- single-counter-wrapper end -->
                                </div>
                            </div>

                            <div class="last-counter-section">
                                <img src="{% static 'assets/images/brand/05.png' %}" alt="brand">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts counter up section end -->

    <!-- rts brand area start -->
    {% comment %} <div class="rts-brand-area-start pt--80">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="brand-area-wrapper-one">
                        <!-- single branbd area -->
                        <a href="#" class="single-brand">
                            <img src="{% static 'assets/images/brand/01.png' %}" alt="brand">
                        </a>
                        <!-- single branbd area end -->
                        <!-- single branbd area -->
                        <a href="#" class="single-brand">
                            <img src="{% static 'assets/images/brand/02.png' %}" alt="brand">
                        </a>
                        <!-- single branbd area end -->
                        <!-- single branbd area -->
                        <a href="#" class="single-brand">
                            <img src="{% static 'assets/images/brand/03.png' %}" alt="brand">
                        </a>
                        <!-- single branbd area end -->
                        <!-- single branbd area -->
                        <a href="#" class="single-brand">
                            <img src="{% static 'assets/images/brand/04.png' %}" alt="brand">
                        </a>
                        <!-- single branbd area end -->
                    </div>
                </div>
            </div>
        </div>
    </div> {% endcomment %}
    <!-- rts brand area end -->

    <!-- team area start -->
    <div class="team-area-start rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-style-center">
                        <div class="pre-title-area">
                            <img src="{% static 'assets/images/about/02.png' %}" alt="about">
                            <span class="pre-title">Our Team</span>
                        </div>
                        <h2 class="title quote">Our Talented Team Delivering<br>
                            Creativity, Strategy, and Innovation </h2>
                    </div>
                </div>
            </div>
            <div class="row mt--30 g-24 rts-slide-up">
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <!-- team area start -->
                    <div class="team-area-start-one">
                        <a href="team-single.html" class="thumbnail">
                            <img src="{% static 'assets/images/team/01.jpg' %}" alt="team_area">
                        </a>
                        <div class="team-content">
                            <div class="name-area">
                                <a href="team-single.html">
                                    <h6 class="name">David Leo</h6>
                                </a>
                                <span class="desig pl--0">CEO</span>
                            </div>
                            <div class="social-team-one">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- team area end -->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <!-- team area start -->
                    <div class="team-area-start-one">
                        <a href="team-single.html" class="thumbnail">
                            <img src="{% static 'assets/images/team/02.jpg' %}" alt="team_area">
                        </a>
                        <div class="team-content">
                            <div class="name-area">
                                <a href="team-single.html">
                                    <h6 class="name">Tom Hardy</h6>
                                </a>
                                <span class="desig pl--0">Manager</span>
                            </div>
                            <div class="social-team-one">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- team area end -->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <!-- team area start -->
                    <div class="team-area-start-one">
                        <a href="team-single.html" class="thumbnail">
                            <img src="{% static 'assets/images/team/03.jpg' %}" alt="team_area">
                        </a>
                        <div class="team-content">
                            <div class="name-area">
                                <a href="team-single.html">
                                    <h6 class="name">Arya Stark</h6>
                                </a>
                                <span class="desig pl--0">Designer</span>
                            </div>
                            <div class="social-team-one">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- team area end -->
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <!-- team area start -->
                    <div class="team-area-start-one">
                        <a href="team-single.html" class="thumbnail">
                            <img src="{% static 'assets/images/team/04.jpg' %}" alt="team_area">
                        </a>
                        <div class="team-content">
                            <div class="name-area">
                                <a href="team-single.html">
                                    <h6 class="name">John Snow</h6>
                                </a>
                                <span class="desig pl--0">Marketing Team Head</span>
                            </div>
                            <div class="social-team-one">
                                <ul>
                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- team area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- team area end -->

    <!-- rts testimonials area start -->
    <div class="rts-testimonials-area-start rts-section-gap bg-testimonials-1 bg_image">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-style-center">
                        <div class="pre-title-area">
                            <img src="{% static 'assets/images/about/02.png' %}" alt="about">
                            <span class="pre-title">Testimonials</span>
                        </div>
                        <h2 class="title quote">Amazing feedback from <br>
                            Our valued clients</h2>
                    </div>
                </div>
            </div>
            <div class="row mt--50">
                <div class="col-lg-12">
                    <div class="testimonials-one-wrapper">
                        <!-- Swiper -->
                        <div class="swiper swiper-testimonails-one">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <!-- single testimonials aarea start -->
                                    <div class="sigle-testimonials-one">
                                        <div class="top-quote">
                                            <img src="{% static 'assets/images/testimonials/03.png' %}" alt="tstimonials">
                                        </div>
                                        <p>Working with your team was an absolute pleasure. From the initial concept to the final installation, every step was executed with professionalism and attention to detail. The end result exceeded our expectations, and couldn't be happier with our beautifully transformed space.</p>
                                        <div class="author-area">
                                            <div class="thumbnail">
                                                <img src="{% static 'assets/images/testimonials/02.png' %}" alt="tstimonials">
                                            </div>
                                            <div class="info">
                                                <h6 class="title">John William</h6>
                                                <span>New Client</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single testimonials aarea end -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single testimonials aarea start -->
                                    <div class="sigle-testimonials-one">
                                        <div class="top-quote">
                                            <img src="{% static 'assets/images/testimonials/03.png' %}" alt="tstimonials">
                                        </div>
                                        <p>Working with your team was an absolute pleasure. From the initial concept to the final installation, every step was executed with professionalism and attention to detail. The end result exceeded our expectations, and couldn't be happier with our beautifully transformed space.</p>
                                        <div class="author-area">
                                            <div class="thumbnail">
                                                <img src="{% static 'assets/images/testimonials/04.png' %}" alt="tstimonials">
                                            </div>
                                            <div class="info">
                                                <h6 class="title">John William</h6>
                                                <span>New Client</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single testimonials aarea end -->
                                </div>
                                <div class="swiper-slide">
                                    <!-- single testimonials aarea start -->
                                    <div class="sigle-testimonials-one">
                                        <div class="top-quote">
                                            <img src="{% static 'assets/images/testimonials/03.png' %}" alt="tstimonials">
                                        </div>
                                        <p>Working with your team was an absolute pleasure. From the initial concept to the final installation, every step was executed with professionalism and attention to detail. The end result exceeded our expectations, and couldn't be happier with our beautifully transformed space.</p>
                                        <div class="author-area">
                                            <div class="thumbnail">
                                                <img src="{% static 'assets/images/testimonials/02.png' %}" alt="tstimonials">
                                            </div>
                                            <div class="info">
                                                <h6 class="title">John William</h6>
                                                <span>New Client</span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- single testimonials aarea end -->
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- rts testimonials area end -->

    <!-- rts blog area start -->
    <div class="rts-blog-area rts-section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-style-center">
                        <div class="pre-title-area">
                            <img src="{% static 'assets/images/about/02.png' %}" alt="about">
                            <span class="pre-title">Our Blog</span>
                        </div>
                        <h2 class="title quote">Latest News and Updates <br></h2>
                    </div>
                </div>
            </div>
            <div class="row g-24 rts-slide-up mt--30">
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- single blog area start -->
                    <div class="signle-blog-style-one">
                        <a href="#" class="thumbnail">
                            <img src="{% static 'assets/images/blog/1.jpg' %}" alt="blog">
                            <span class="tag">Digital Marketing</span>
                        </a>
                        <div class="inner-content">
                            <a href="#">
<p> At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.</p>                          
                            </a>
                            <a class="btn-blog-readmore" href="#"> Read More +</a>
                        </div>
                    </div>
                    <!-- single blog area end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- single blog area start -->
                    <div class="signle-blog-style-one">
                        <a href="#" class="thumbnail">
                            <img src="{% static 'assets/images/blog/2.jpg' %}" alt="blog">
                            <span class="tag">SEO </span>
                        </a>
                        <div class="inner-content">
                            <a href="#">
<p>
    ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.
</p>                            </a>
                            <a class="btn-blog-readmore" href="#"> Read More +</a>
                        </div>
                    </div>
                    <!-- single blog area end -->
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-12">
                    <!-- single blog area start -->
                    <div class="signle-blog-style-one">
                        <a href="blog-details.html" class="thumbnail">
                            <img src="{% static 'assets/images/blog/3.jpg' %}" alt="blog">
                            <span class="tag">Social Media</span>
                        </a>
                        <div class="inner-content">
                            <a href="#">
                                <p>deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate.</p>
                            </a>
                            <a class="btn-blog-readmore" href="#"> Read More +</a>
                        </div>
                    </div>
                    <!-- single blog area end -->
                </div>
            </div>
        </div>
    </div>
    <!-- rts blog area end -->




    <!-- search area start -->
    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>
    <!-- search area end -->


    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
    <!-- back to top end -->



    <!-- header style two -->
    <div id="side-bar" class="side-bar header-two">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="inner-main-wrapper-desk">
            <div class="thumbnail">
                <img src="{% static 'assets/images/logo/01.svg' %}" alt="Innovate">
            </div>
            <div class="inner-content">
                <p class="disc">
                    Innovate Architects is a full-service design firm providing architecture architecture.
                </p>
                <div class="contact-information--sidebar">
                    <h6 class="title">Contact Info</h6>
                    <div class="single-info">
                        <a href="#">+123 456 789 33</a>
                    </div>
                    <div class="single-info">
                        <a href="#">3 innovate Street, NY United <br> States of America</a>
                    </div>
                    <div class="single-info">
                        <a href="#">futuresigns.sa@gmail.com</a>
                    </div>
                    <h6 class="title mt--30">Office Address</h6>
                    <div class="single-info">
                        <a href="#">+Time Square, New York <br> USA, 3454</a>
                    </div>
                    <div class="rts-social-style-one">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer">
                    <h4 class="title">Got a project in mind?</h4>
                    <a href="{% url 'contact-page' %}" class="rts-btn btn-primary">Let's talk</a>
                </div>
            </div>
        </div>
        <!-- mobile menu area start -->
        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">
                    <li class="has-droupdown">
                        <a href="#" class="main">Home</a>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Services</a>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Portfolio</a>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Blog</a>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Pages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="{% url 'about-page' %}">About</a></li>
                            <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Team</a>
                               
                            </li>
                            <li><a class="mobile-menu-link" href="before-after.html">Before After</a></li>
                            <li><a class="mobile-menu-link" href="pricing-plane.html">Pricing Plan</a></li>
                            <li><a class="mobile-menu-link" href="faq.html">Faq's</a></li>
                            <li><a class="mobile-menu-link" href="terms-and-condition.html">Terms & Conditions</a></li>
                            <li><a class="mobile-menu-link" href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a class="mobile-menu-link" href="404.html">404 Page</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'contact-page' %}" class="main">Contact Us</a>
                    </li>
                </ul>
            </nav>

            <div class="rts-social-style-one pl--20 mt--100">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->


    <div class="grid-line">
        <div class="grid-lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <div id="anywhere-home">
    </div>



</body>
{% endblock %}