{% extends "base.html" %}
{% load static %}
{% block content%}
<head>
 
  <title>portfolio</title>
</head>

    <!-- Welcome Section -->
    <section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'assets/images/portfolio/mini-profile-bg-01.jpg' %}">
      <div class="container-fluid tm-brand-container-outer">
        <div class="row">
          <div class="col-12">
            <!-- Logo Area -->
            <!-- Black transparent bg -->
            <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
              <div class="tm-brand-container text-center">
                {% comment %} <h1 class="tm-brand-name">Future Signs</h1> {% endcomment %}
                <h1 class="tm-brand-name"><img src="{% static 'assets/images/logo/01.svg' %}" alt="logo-">
                </h1>

                <p class="tm-brand-description mb-0">Creativity, Strategy, and Innovation</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="tm-bg-white-transparent tm-welcome-container">
        <div class="container-fluid">
          <div class="row h-100">
            <!-- Welcome Text -->
            <!-- White transparent bg -->
            <div class="col-md-7 tm-welcome-left-col">
              <div class="tm-welcome-left">
                <h2 class="tm-welcome-title">Welcome to Future Signs </h2>
                <p class="pb-0">
                  We are dedicated to providing clients with the best value for their brand identity through a comprehensive, tailored approach. Our commitment lies in delivering world-class service, exceptional quality, and innovative solutions. By integrating creativity with strategy, we craft complete business solutions that empower brands to manage and enhance their corporate identity with confidence.
                </p>
              </div>
            </div>
            <!-- Brown bg -->
            <div class="col-md-5">
              <div class="tm-welcome-right">
                <i class="fas fa-4x fa-address-card p-3 tm-welcome-icon"></i>
                <p class="mb-0" style="color: beige;">
                  We provide clients with exceptional brand identity solutions through a comprehensive approach, delivering world-class service, quality results, and innovation.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Welcome section -->

     <!-- Portfolio section -->
     <section id="tmPortfolio">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="feature-box">
                            <h1>Signage Solutions</h1>
                            <p>Enhancing visibility and brand presence with impactful signage solutions tailored for all applications, ensuring maximum engagement, recognition,  and a lasting impression across diverse environments.</p>
                        </div>
                    </div><!-- End col-md-6 -->
                    <div class="col-md-6 col-sm-6 nopadding" style="padding:2%;">
                        <img style="border-radius:20px;" src="{% static 'assets/images/portfolio/1.png' %}">
                    </div><!-- End col-md-6 -->
        
                    <div class="portfolio-grid">
                        <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/OfficeSignage-1.jpg' %}" alt="OfficeSignage-1"></div>
                        <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/OfficeSignage-2.png' %}" alt="OfficeSignage-2"></div>
                        <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/OfficeSignage-3.png' %}" alt="OfficeSignage-3"></div>
                        <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/OfficeSignage-4.jpg' %}" alt="OfficeSignage-4"></div>
                        <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/OfficeSignage-5.png' %}" alt="OfficeSignage-5"></div>
                        <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/OfficeSignage-6.png' %}" alt="OfficeSignage-6"></div>
                        <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/OfficeSignage-7.jpg' %}" alt="OfficeSignage-7"></div>
                        <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/OfficeSignage-8.jpg' %}" alt="OfficeSignage-8"></div>
                        <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/OfficeSignage-9.png' %}" alt="OfficeSignage-9"></div>
                        <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/OfficeSignage-10.png' %}" alt="OfficeSignage-10"></div>
                    </div>

                    
        
                    <div class="col-md-6 col-sm-6 nopadding" style="padding:3%;">
                        <img style="border-radius:20px;" src="{% static 'assets/images/portfolio/p-2.jpg' %}">
                    </div><!-- End col-md-6 -->
                    <div class="col-md-6 col-sm-6" style="padding:3%;"> 
                        <div class="feature-box">
                            <h1>Print & Design                              
                              </h1>
                            <p>Creating professional marketing materials and branding assets that effectively communicate your message, strengthen your brand identity, and captivate your target audience across various platforms and media.</p>
                        </div>
                    </div>
                    <div class="portfolio-grid">
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/Acylic-1.png' %}" alt="Acylic-1"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/Acylic-2.png' %}" alt="Acylic-2"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/Acylic-3.png' %}" alt="Acylic-3"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/Acylic-4.png' %}" alt="Acylic-4"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/Acylic-5.png' %}" alt="Acylic-5"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/Acylic-6.png' %}" alt="Acylic-6"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/Acylic-7.png' %}" alt="Acylic-7"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/Acylic-8.png' %}" alt="Acylic-8"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/Acylic-9.png' %}" alt="Acylic-9"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/Acylic-10.png' %}" alt="Acylic-10"></div>
                  </div>
                    <div class="col-md-6 col-sm-6" style="padding:3%;">
                        <div class="feature-box">
                            <h1>Fabrication & Engraving</h1>
                            <p>Precision crafting and engraving using advanced techniques to create unique, high-quality, and durable products that showcase exceptional detail, artistry, and long-lasting appeal.</p>
                        </div>
                    </div><!-- End col-md-6 -->
                    <div class="col-md-6 col-sm-6 nopadding" style="padding:3%;">
                        <img style="border-radius:20px;" src="{% static 'assets/images/portfolio/p-3.jpg' %}">
                    </div><!-- End col-md-6 -->
        
                    <div class="portfolio-grid">
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/f3.png' %}" alt="f3"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/f2.png' %}" alt="f2"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/f1.png' %}" alt="f1"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/f4.png' %}" alt="f4"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/f5.png' %}" alt="f5"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/f6.png' %}" alt="f6"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/f7.png' %}" alt="f7"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/f8.png' %}" alt="f8"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/f9.png' %}" alt="f9"></div>
                      <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/f10.png' %}" alt="f10"></div>
                  </div>
        
                    <div class="col-md-6 col-sm-6 nopadding" style="padding:2%;">
                        <img style="border-radius:20px;" src="{% static 'assets/images/portfolio/p-4.jpg' %}">
                    </div><!-- End col-md-6 -->
                    <div class="col-md-6 col-sm-6" style="padding:2%;">
                        <div class="feature-box">
                            <h1>Support & Event Services</h1>
                            <p>Comprehensive services to support your signage and promotional needs, from expert installation and maintenance to customized event branding solutions that enhance visibility, engagement, and brand impact.</p>
                        </div>
                    </div>
                    <!-- End col-md-6 -->
                </div>
                <div class="portfolio-grid">
                  <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/E1.jpg' %}" alt="E1"></div>
                  <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/E2.png' %}" alt="E2"></div>
                  <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/E3.png' %}" alt="E3"></div>
                  <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/E4.jpg' %}" alt="E4"></div>
                  <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/E5.png' %}" alt="E5"></div>
                  <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/E6.jpg' %}" alt="E6"></div>
                  <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/E7.jpg' %}" alt="E7"></div>
                  <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/E8.png' %}" alt="E8"></div>
                  <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/E9.jpg' %}" alt="E9"></div>
                  <div class="portfolio-item"><img src="{% static 'assets/images/portfolio/E10.jpg' %}" alt="E10"></div>
              </div>
            </div>
        
          </div>
        </div>
      </div>
    </section>
    
    <!-- End portfolio section -->
    <div id="tmContact" class="parallax-window" data-parallax="scroll" data-image-src="{% static 'assets/images/portfolio/mini-profile-bg-02.jpg' %}">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="tm-contact-items-container">
              <div class="tm-contact-item">
                <img src="{% static 'assets/images/portfolio/B1.jpg' %}" alt="B1">
                {% comment %} <i class="fas fa-5x fa-briefcase tm-contact-item-icon"></i> {% endcomment %}
                <p class="mb-0">
                 We provide tailored strategies, world-class service, and innovation to help businesses manage their corporate identity effectively.
                </p>
              </div>
              <div class="tm-contact-item">
                <img src="{% static 'assets/images/portfolio/B2.jpg' %}" alt="B1">
                <p class="mb-0">
                Our skilled marketers, designers, writers, and developers work together to build strong reputations, attract customers, and boost sales.              </div>

              <div class="tm-contact-item">
                <img src="{% static 'assets/images/portfolio/B3.jpg' %}" alt="B1">

                <p class="mb-0">
                  Using the latest tech and premium materials, we create compelling graphics, precise designs, and top-tier print collaterals for impactful marketing.              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <form
              action="index.html"
              method="POST"
              id="tmContactForm"
              class="tm-bg-white-transparent"
            >
              <div class="form-group">
                <input
                  type="text"
                  id="contact_name"
                  name="contact_name"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Name"
                  required
                />
              </div>
              <div class="form-group">
                <input
                  type="email"
                  id="contact_email"
                  name="contact_email"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Email"
                  required
                />
              </div>
              <div class="form-group">
                <textarea
                  rows="4"
                  id="contact_message"
                  name="contact_message"
                  class="form-control rounded-0 border-top-0 border-right-0 border-left-0"
                  placeholder="Message"
                  required
                ></textarea>
              </div>
              <div class="text-center">
                <button
                  type="submit"
                  class="btn tm-btn-submit rounded-0 text-white"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- container -->
    </div>


    <!-- search area start -->
    <div class="search-input-area">
        <div class="container">
            <div class="search-input-inner">
                <div class="input-div">
                    <input id="searchInput1" class="search-input" type="text" placeholder="Search by keyword or #">
                    <button><i class="far fa-search"></i></button>
                </div>
            </div>
        </div>
        <div id="close" class="search-close-icon"><i class="far fa-times"></i></div>
    </div>
    <!-- search area end -->


    <!-- back to top start -->
    <div class="progress-wrap">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"></path>
        </svg>
    </div>
    <!-- back to top end -->



    <!-- header style two -->
    <div id="side-bar" class="side-bar header-two">
        <button class="close-icon-menu"><i class="far fa-times"></i></button>
        <!-- inner menu area desktop start -->
        <div class="inner-main-wrapper-desk">
            <div class="thumbnail">
                <img src="{% static 'assets/images/logo/01.svg' %}" alt="Innovate">
            </div>
            <div class="inner-content">
                <p class="disc">
                    Innovate Architects is a full-service design firm providing architecture architecture.
                </p>
                <div class="contact-information--sidebar">
                    <h6 class="title">Contact Info</h6>
                    <div class="single-info">
                        <a href="#">+123 456 789 33</a>
                    </div>
                    <div class="single-info">
                        <a href="#">3 innovate Street, NY United <br> States of America</a>
                    </div>
                    <div class="single-info">
                        <a href="#">futuresigns.sa@gmail.com</a>
                    </div>
                    <h6 class="title mt--30">Office Address</h6>
                    <div class="single-info">
                        <a href="#">+Time Square, New York <br> USA, 3454</a>
                    </div>
                    <div class="rts-social-style-one">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa-brands fa-linkedin-in"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="footer">
                    <h4 class="title">Got a project in mind?</h4>
                    <a href="{% url 'contact-page' %}" class="rts-btn btn-primary">Let's talk</a>
                </div>
            </div>
        </div>
        <!-- mobile menu area start -->
        <div class="mobile-menu-main">
            <nav class="nav-main mainmenu-nav mt--30">
                <ul class="mainmenu metismenu" id="mobile-menu-active">
                    <li class="has-droupdown">
                        <a href="#" class="main">Home</a>
                        <ul class="submenu mm-collapse">
                            <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Multipages</a>
                            </li>
                            <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Onepages</a>
                            </li>
                            <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Showcase Pages</a>
                            </li>
                        </ul>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Services</a>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Portfolio</a>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Blog</a>
                    </li>
                    <li class="has-droupdown">
                        <a href="#" class="main">Pages</a>
                        <ul class="submenu mm-collapse">
                            <li><a class="mobile-menu-link" href="{% url 'about-page' %}">About</a></li>
                            <li class="has-droupdown third-lvl">
                                <a class="main" href="#">Team</a>
                            </li>
                            <li><a class="mobile-menu-link" href="before-after.html">Before After</a></li>
                            <li><a class="mobile-menu-link" href="pricing-plane.html">Pricing Plan</a></li>
                            <li><a class="mobile-menu-link" href="faq.html">Faq's</a></li>
                            <li><a class="mobile-menu-link" href="terms-and-condition.html">Terms & Conditions</a></li>
                            <li><a class="mobile-menu-link" href="privacy-policy.html">Privacy Policy</a></li>
                            <li><a class="mobile-menu-link" href="404.html">404 Page</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="{% url 'contact-page' %}" class="main">Contact Us</a>
                    </li>
                </ul>
            </nav>

            <div class="rts-social-style-one pl--20 mt--100">
                <ul>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-facebook-f"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-youtube"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- mobile menu area end -->
    </div>
    <!-- header style two End -->


    <div class="grid-line">
        <div class="grid-lines">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </div>
    </div>

    <div id="anywhere-home">
    </div>
    <script>
      function detectMsBrowser() {
        using_ms_browser =
          navigator.appName == "Microsoft Internet Explorer" ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Edge") > -1) ||
          (navigator.appName == "Netscape" &&
            navigator.appVersion.indexOf("Trident") > -1);

        if (using_ms_browser == true) {
          alert(
            "Please use Chrome or Firefox for the best browsing experience!"
          );
        }
      }
      function setBrandMarginTop() {
        var bottomContainerHeight = $(".tm-welcome-container").height();

        $(".tm-brand-container-outer").css({
          "margin-top": -bottomContainerHeight + "px"
        });
      }

      $(function() {
        setBrandMarginTop();
        detectMsBrowser();

        // Handle window resize event
        $(window).resize(function() {
          setBrandMarginTop();
        });
      });
    </script>

</body>
{% endblock %}